.mainCalenderDiv
{
    padding: 5px;
    height: 100%;
}

.mainMonthAndYearHeading
{
    width: 100%;
    text-align: center;
}

.main
{
    height: 100%;
}

.mainHeaderDiv
{
    width: 100%;
    background-color: #303841;
    border: 1px solid #303841;
    border-radius: 5px;
    box-shadow: 0 6px 12px -1px #3A4750;
}

.weekdaysGrid
{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5rem;
    margin-top: 40px;
    height: 100%;
}

.inidividualDay
{
    height: 10rem;
    width: 100%;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 6px 5px -1px #D3D6DB;
    transition: all 0.5s;
}

.individualDate
{
    height: 6rem;
    width: 100%;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 6px 5px -1px #D3D6DB;
    transition: all 0.5s;
}

.currentDate
{
    background-color: #D3D6DB;
    box-shadow: 3px 3px 3px -1px #3A4750;
}

.inidividualDay:hover
{
    background-color: #D3D6DB;
    box-shadow: 5px 6px 5px -1px #a6a8ac;
}
